body
{
    background-color: lavender;
}

ol li ol
{
    list-style-type: lower-alpha;
}

canvas
{
    display: block;
    margin: 0 auto;
}

pre.src
{
    color: white;
    background-color: #102e4e;
}
