body
{
    margin: 0;
    background-color: #E8EFF3;
    font-family: "Helvetica Neue",Helvetica, sans-serif;
    text-align: justify;
}

ol li ol
{
    list-style-type: lower-alpha;
}

li
{
    margin-top: 30px;
}

li li
{
    margin-top: 2px;
}


li:first-child
{
    margin-top: 0;
}

canvas
{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.color-coding-img
{
    width: 50vw;
}

.org-svg
{
    width: 50vw;
}

@media only screen and (max-width: 800px)
{
    canvas
    {
        max-width: 70vw;
    }

}

pre.src
{
    margin: 0 auto;
    font-size: 0.9vw;
    width: 75em;
    color: white;
    background-color: #102e4e;
    border-radius: 10px;
}

blockquote
{
    margin-top: 10px;
    background-color: #c5d8c5;
    margin: 0 auto;
    margin-top: 10px;
    width: 80%;
    border-radius: 3px;
    padding: 5pt;
}

pre.example
{
    border: 0pt;
    box-shadow: 0pt 0pt 0pt;
}

a
{
    text-decoration: none;
}

header
{
    background-color: #638291;
    min-height: 100px;
    width: 100%;
    position:relative;
}

preamble
{

}

h1
{
    margin-top: 0;
}

#content
{
    margin-left: 15vw;
    margin-right: 15vw;
}

.title
{
    color: white;
    float: left;
    margin-left: 1em;
    margin-top: 1em;
}

.title a:link
{
    color: white;
}

.title a:visited
{
    color: white;
}

.byline
{
    color: white;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.author
{
    float: right;
}

.author a:link
{
    color: white;
}

.author a:visited
{
    color: white;
}

.license
{
    margin-top: 10px;
    float: right;
}

.chapterlink, #supportedByLink
{
    color: black;
    text-decoration: none;
}

#supportedBy
{
    position:fixed;
    right:0;
    margin-right: 1vw;
    bottom:0;
}

p#supportedByText
{
    font-size: 2vh;
}